@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html {
  scroll-behavior: smooth;
}

.custom-color {
  color: #4860ECff;
}

.custom-background {
  background-color: #1C2A69ff
}

.custom-color-btn {
  color: #4860ECff
}

.custom-btn {
  color: #fff;
}

.custom-btn:hover {
  color: #b5b5b5;
  /* color:#4860ECff; */
}

* {
  font-family: 'Poppins', sans-serif;
}

#main {
  min-height: 100vh;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
}



.custom-letter-spacing {
  letter-spacing: 0.5rem;
}

.custom-line-height {
  line-height: 1.8rem;
}

.custom-services-effect {
  background-image: url(img/img-1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.custom-services-effect::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;

}

@media (max-width: 767px) {
  .custom-line-height {
    line-height: 1.5rem;
  }
}

@media (min-width: 767px) {
  body::before {
    display: block;
    content: '';
    height: 70px;
  }
}

#project-urlBtn {
  text-decoration: none;
  color: white;
}

.card img {
  transition: transform 0.2s linear;
}


.navbar-toggler {
  background-color: #fff;
}

.card {
  overflow: hidden;
  display: inline-block;
}

.card img:hover {
  transform: scale(1.1);
}

.text-insta {
  color: #000;
}

.social-hover {
  transition: 0.5s;
}

.social-hover:hover {
  transform: translateY(-10px);
}

/* Define scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 1.5rem;
}

/* ie scroll bar track -Track styles */
::-webkit-scrollbar-track {
  background-color: #6578A4ff;


}

/* scrollbar Handle styles */
::-webkit-scrollbar-thumb {
  background-color: #1C2A69ff;
  border: 0.3rem solid transparent;
  background-clip: content-box;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {

  background-color: #efefef;
}
